<h1>TinyApp</h1>
<form action="POST" action="/login" class="">
  <div class="form-group">
    <label>Username:</label>
    <input type="text" style="width: 300px" name="username">
  <input type="submit" value="Login" class="btn btn-primary">
</div>
</form>