<h1>TinyApp</h1>
<% if (locals.user) { %>
  <div>
    <p>Signed in as <%= user.email %></p>
  </div>
  <form method="POST" action="/logout" class="">
    <button class="btn btn-primary" type="submit">Logout</button>
  </form>
 <% } else { %>
    <a href="/login" class="btn btn-outline-primary">Login</a>
    <a href="/register" class="btn btn-outline-primary">Register</a>
  </div>
<% } %>


