<h1>TinyApp</h1>
<form method="POST" action="/login" class="">
  <div class="form-group">
    <label>Username:</label>
    <input type="text" style="width: 300px" name="username">
    <button class="btn btn-primary" type="submit">Sign In</button>
  </div>
</form>
<div>
  <p>Signed in as <%= username %></p>
</div>