<h1>TinyApp</h1>
<% if (locals.user) { %>
  <div>
    <p>Signed in as <%= locals.user.email %></p>
  </div>
  <form action="/logout" method="post">
    <a href="/login" type="submit" class="btn btn-primary">Logout</a>
  </form>
 <% } else { %>
    <div>
      <a href="/login" class="btn btn-outline-primary">Login</a>
      <a href="/register" class="btn btn-outline-primary">Register</a>
    </div>
<% } %>


