<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<header>
  <% include ../views/partials/_headers %>
</header>
<body style="font-size:20px; padding:50px;">
<h3>Login</h3>
<form class="" action="/login" method="post">
  <div class="form-group">
    <input type="hidden" class="form-control" name="id">
  </div>
  <div class="form-group">
    <label for="email">Email </label>
    <input type="email" name="email" class="form-control" id="email" placeholder="email@email.com">
  </div>
  <div class="form-group">
    <label for="password" >Password </label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Login</button>
</form>

</body>
</html>