<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<header>
  <% include ../views/partials/_headers %>
</header>
<body style="font-size:16px; padding:50px;">
  <main class="container">
    <div >
      <h2>ShortURL: <%= shortURL %></h2>
      <form method="POST" action="/urls/<%= shortURL %>">
        <input type="text" style="width: 300px" name="longURL" value="<%= longURL %>">
        <input type="submit" value="Update" class="btn btn-primary">
      </form>
    </div>
  </main>
</body>
</html>

